<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rule" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                        <conditions>
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                            <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
          <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
          <dynamicTypes>
            <add mimeType="text/*" enabled="true" />
            <add mimeType="message/*" enabled="true" />
            <add mimeType="audio/*" enabled="true" />
            <add mimeType="video/*" enabled="true" />
            <add mimeType="image/*" enabled="true" />
            <add mimeType="application/x-php" enabled="true" />
            <add mimeType="application/x-pointplus" enabled="true" />
            <add mimeType="application/x-javascript" enabled="true" />
            <add mimeType="application/json" enabled="true" />
            <add mimeType="*/*" enabled="false" />
          </dynamicTypes>
          <staticTypes>
            <add mimeType="text/*" enabled="true" />
            <add mimeType="message/*" enabled="true" />
            <add mimeType="audio/*" enabled="true" />
            <add mimeType="video/*" enabled="true" />
            <add mimeType="image/*" enabled="true" />
            <add mimeType="application/x-php" enabled="true" />
            <add mimeType="application/x-pointplus" enabled="true" />
            <add mimeType="application/x-javascript" enabled="true" />
            <add mimeType="application/atom+xml" enabled="true" />
            <add mimeType="application/xaml+xml" enabled="true" />
            <add mimeType="*/*" enabled="false" />
          </staticTypes>
        </httpCompression>

        <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>

        <caching enabled="true" enableKernelCache="true">
          <profiles>
            <add extension=".png"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".jpg"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".gif"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".css"  policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".js"   policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".mp3" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".mp4" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".wav" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".ogg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".pdf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".xls" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".xlsx" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".doc" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".docs" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".docx" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".ppt" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            <add extension=".pptx" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
          </profiles>
        </caching>

    </system.webServer>
</configuration>
